antlr4-python3-runtime==4.7.2
asn1crypto==0.24.0
autopep8==1.4.4
colorama==0.4.1
cryptography==2.1.4
docformatter==1.1
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
pep8radius==0.9.2
pycodestyle==2.5.0
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
typing==3.7.4.1
untokenize==0.1.1
wxPython==3.0.2.0
wxPython-common==3.0.2.0
yapf==0.27.0
